In [ ]:
#Question-1
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #-list is created
ages.sort()   #-function used for sorting a list
print("Sorted list:",ages)
Minimum_Value = min(ages) #- assigning min value to variable
Maximum_Value = max(ages) #- assigning max value to variable

print("Minimum age is", Minimum_Value,"\nMaximum age is", Maximum_Value)
ages.append(Minimum_Value),ages.append(Maximum_Value)  #appending the min and max ages to the sorted list.

print("Current list is:", ages)  #printing the latest list after adding the min and max ages to list.

Median_Value = statistics.median(ages)  #-using median method from statistics module

print("Median is:", Median_Value)  
 
Avg = sum(ages)/len(ages)   #finding the average of the list by using sum and length method

print ("Avereage value is:", Avg)   

print("Range of ages is : ", ages[len(ages)-1]-ages[0])   # Range of the ages

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is 19
Maximum age is 26
Current list is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median is: 24.0
Avereage value is: 22.75
Range of ages is :  7

In [ ]:
#Question-2

dog = { "name" : "Bruno"  , "color" : "chocolate", "breed" : "german" , "legs" : 4, "age" : 5}   #-dictionary of dog is created

print("Dog : ", dog)  #-displaying dog dictionary

student = {"first_name" : "Rakesh","last_name" : "Karnekanti", "gender" : "Male","age" : 22,
           "marital_status" : "Single", "skills" : ["C", "HTML", "Java"],
           "country" : "India","city" : "Hyderabad", "address" : "Telecom-colony"}

print("Student:", student)      #-displaying student dictionary

print("Length of the student dictonary is: ",len(student))  #- getting length of the student dictionary

print("Skills : ",student["skills"],"and Data type of skills : ",type(student["skills"]))  #- displaying datatype of skills

student["skills"].append("Bootsrap")  #- adding new skill into the dictionary

print("Updated Skill : ",student["skills"])

print("Keys are : ",student.keys())

print("Values are : ",student.values())

Dog :  {'name': 'Bruno', 'color': 'chocolate', 'breed': 'german', 'legs': 4, 'age': 5}
Student: {'first_name': 'Rakesh', 'last_name': 'Karnekanti', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['C', 'HTML', 'Java'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Telecom-colony'}
Length of the student dictonary is:  9
Skills :  ['C', 'HTML', 'Java'] and Data type of skills :  <class 'list'>
Updated Skill :  ['C', 'HTML', 'Java', 'Bootsrap']
Keys are :  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
Values are :  dict_values(['Rakesh', 'Karnekanti', 'Male', 22, 'Single', ['C', 'HTML', 'Java', 'Bootsrap'], 'India', 'Hyderabad', 'Telecom-colony'])

In [ ]:
#Question-3

sisters = ("Honey", "Kushi","Ammu")  #-tuple is created as sisters

brothers = ("Rakesh", "Akhil", "Rishi")   #-tuple is created as brothers

print("Sisters : ",sisters,"\nBrothers: ",brothers)

siblings = sisters + brothers  #- concatenated both tuples

print ("Siblings: ", siblings)    #- displaying sublings after concatenation

print("I am having ", len(siblings) , "siblings")    #-length of the siblings

fam = list(siblings)    #- using temporary variable for adding father and mother
Father_name = "Sudhakar"
Mother_name = "Rama"
fam.append(Father_name)
fam.append(Mother_name)

Family = tuple(fam)     #- assigning values to family variable

print("Family members are : ",Family)

Sisters :  ('Honey', 'Kushi', 'Ammu')
Brothers:  ('Rakesh', 'Akhil', 'Rishi')
Siblings:  ('Honey', 'Kushi', 'Ammu', 'Rakesh', 'Akhil', 'Rishi')
I am having  6 siblings
Family members are :  ('Honey', 'Kushi', 'Ammu', 'Rakesh', 'Akhil', 'Rishi', 'Sudhakar', 'Rama')

In [ ]:
#Question-4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

print("IT companies are : ", it_companies)     #-displaying the set of IT companies

print("Length of the IT companies is: ",len(it_companies))    #-length of the set

it_companies.add("Twiter")    #- adding new element into the set

print("Updated IT companies: ",it_companies)

multiple_companies = { 'Accenture', 'youtube' }    #- adding no of items into a variable

it_companies.update(multiple_companies)

print("Latest set of IT companies : ",it_companies)

it_companies.remove("Accenture")

print("After Removing one item from set : ",it_companies)

#Difference between remove() and discard()

""" remove and discard methods are used to eleminate the specfic item from the set.
The difference between both the methods is , if specific item is not present in the set 
which is required to delete then remove method will raise an error whereas
 discard will not give any error.
"""
it_companies.discard("INstagram")

print("After discard method : ", it_companies)

A = {19, 22, 24, 20, 25, 26}  #- sets A & B are decleared

B = {19, 22, 20, 25, 26, 24, 28, 27}

Z=A.union(B)     #joining both sets

print("Joining set A and B : ",Z)

Intersec = A.intersection(B)    #-checking  intersection of set A and B

print("Intersection of set A and B : ", Intersec)
 
subse = A.issubset(B)     #-checking  subset of B is A

print("A is subset of B : ",subse)

disjoin = A.isdisjoint(B)    #-checking  A is disjoint set of B 

print("A is disjoint set of B : ",disjoin)


print("Joining set A with set B : ",A.union(B))    #joining A with B 

print("Joining set B with set A : ",B.union(A))    #joining A with B 

symmetri = A.symmetric_difference(B)

print("Symmetric difference between A and B : ",symmetri)

A.clear()     #Deleting the complete set

B.clear()     #Deleting the complete set

print(A)
print(B)

#Converting ages into complete set

age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Ages :",age)   #-list of ages 

set_age = set(age)

print("Converted age into set : ",set_age)   #-set of ages 

print("length of set age : ",len(set_age))
print("length of list age : ",len(age))

IT companies are :  {'Oracle', 'Amazon', 'Google', 'Facebook', 'Apple', 'Microsoft', 'IBM'}
Length of the IT companies is:  7
Updated IT companies:  {'Oracle', 'Amazon', 'Google', 'Twiter', 'Facebook', 'Apple', 'Microsoft', 'IBM'}
Latest set of IT companies :  {'Oracle', 'Amazon', 'Google', 'Twiter', 'Facebook', 'Accenture', 'Apple', 'youtube', 'Microsoft', 'IBM'}
After Removing one item from set :  {'Oracle', 'Amazon', 'Google', 'Twiter', 'Facebook', 'Apple', 'youtube', 'Microsoft', 'IBM'}
After discard method :  {'Oracle', 'Amazon', 'Google', 'Twiter', 'Facebook', 'Apple', 'youtube', 'Microsoft', 'IBM'}
Joining set A and B :  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of set A and B :  {19, 20, 22, 24, 25, 26}
A is subset of B :  True
A is disjoint set of B :  False
Joining set A with set B :  {19, 20, 22, 24, 25, 26, 27, 28}
Joining set B with set A :  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B :  {27, 28}
set()
set()
Ages : [22, 19, 24, 25, 26, 24, 25, 24]
Converted age into set :  {19, 22, 24, 25, 26}
length of set age :  5
length of list age :  8

In [ ]:
#Question-5

circle_radius=30   #-radius is assigned

_area_of_circle_ = 3.14 * (circle_radius**2)       #-formula for area pf circle

print("Area of circle : ", _area_of_circle_)    

_circum_of_circle_ = 2 * 3.14 * circle_radius   #-formula for circumference of circle

print("Circumference of circle : ", _circum_of_circle_)

print()

user_radius = int(input("Enter the radius "))

area_of_circle = 3.14 * (user_radius**2)

print("Area of circle with new radius:", area_of_circle)

Area of circle :  2826.0
Circumference of circle :  188.4

Enter the radius 7
Area of circle with new radius: 153.86

In [ ]:
#Question-6

s = "I am a teacher and I love to inspire and teach people"    #-string is assigned

print("Given string : ", s)

converted_set = set(s.split(" "))     #- string is stored in set by using split method

print("Number of unique words:", len(converted_set))

print("Unique words are : ", converted_set)

Given string :  I am a teacher and I love to inspire and teach people
Number of unique words: 10
Unique words are :  {'inspire', 'love', 'a', 'people', 'I', 'and', 'teach', 'am', 'teacher', 'to'}

In [ ]:
#Question-7

print("Name\t\tAge\tCountry \tCity")    #-using \t for tab space
print("Asabeneh\t250\tFinland \tHelsinki")

Name		Age	Country 	City
Asabeneh	250	Finland 	Helsinki

In [ ]:
#Question-8

radius = 10
area = 3.14 * radius ** 2
print("The area of circle with radius {} is {} meters square.".format(radius,area))   #displaying content by using format method

The area of circle with radius 10 is 314.0 meters square.

In [ ]:
11#Question-9

Lbs = []      #-empty list

no_of_input = int(input("Enter number of weights : "))
  
kg=[]     #-empty list to convert lbs to kgs

for item in range(0, no_of_input):
    Lbs.append(int(input()))
    kg.append(Lbs[item]* 0.4535)

print("The weights of ",no_of_input," students:", Lbs)
print("The weights of ",no_of_input,"students converted to KG:", kg)

Enter number of weights : 4
150
55
170
66
The weights of  4  students: [150, 55, 170, 66]
The weights of  4 students converted to KG: [68.025, 24.942500000000003, 77.095, 29.931]